function* fetchProducts() {
  const token = yield select(getToken);
  const const { response, error }  = yield call(Api.fetch, '/products', token)
  if (!error) {
    yield put({ type: 'PRODUCTS_REQUESTED_SUCCESS', data: response.data })
  } else {
    yield put({ type: 'PRODUCTS_REQUESTED_FAILURE', error })
  }
}

describe('fetchProducts', () => {
  test('should get products with success', () => {
    const tokenMock = 'token';
    const responseMock = { response: { data: [] }};

    return expectSaga(fetchProducts)
      .provide([
        [select(getToken), tokenMock]
      ])
      .put({
        type: 'PRODUCTS_REQUESTED_SUCCESS',
        data: responseMock.response.data
      })
      .dispatch({ type: 'PRODUCTS_REQUESTED' })
      .run();
  });
});